<!DOCTYPE html>
<html>
  <head>
    <title>AskUs</title>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
    <link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class = "bg-faded">
    <nav class="navbar navbar-inverse navbar-toggleable-sm" id = "mainNav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mainMenuCollapse" aria-controls="myContent" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand">AskUs</a>
            <div class="collapse navbar-collapse" id="mainMenuCollapse">
                <div class="nav-link text-lowercase font-italic" style="color:white;">21st Century Library Chat Service</div>
                <div class="navbar-nav justify-content-end ml-auto">
                    <div style = "float:right;" class = "btn-group dropdown">
                    <button class = "btn btn-outline-white active dropdown-toggle" role = "button" type = "button" style = "text-align: center" aria-haspopup = "true" aria-expanded = "false" data-toggle = "dropdown">Welcome {{username}}</button>
                    <div class = "dropdown-menu">
                        <a class = "dropdown-item" href = "/admin/">Admin Dashboard</a>
                        <a class = "dropdown-item" href = "/">Launch Chat</a>
                        <a class = "dropdown-item" href = "/logout/">Log Out</a>
                    </div>
                    </div>
                </div>
            </div>
    </nav>

    <div class = "container-fluid">
        <h1>Admin Dashboard</h1>
        <p>Use this page to manage your online reference services, track your impact, and connect with patrons.</p>
        <div>
            <ul class="nav nav-tabs" id="dashboard-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link btn-info" href="/">Launch Chat</a>
                </li>
            </ul>
        </div>
        <h1>Librarian Statistics</h1>
            <div class = "card" align="center" style="display:inline-block;">
                <div class = "container">
                    <h2 display><b>Total System Messages</b></h2>
                    <h2>{{totalrecords}}</h2>
                    </div>
                </div>
            <div class = "card" align="center" style="display:inline-block;">
                <div class = "container">
                    <h2><b>Total User Messages</b></h2>
                    <h2>{{totaluserrecords}}</h2>
                    </div>
                </div>
            <div class = "card" align="center" style="display:inline-block;">
                <div class = "container">
                    <h2><b>Total Percent Contribution</b></h2>
                    <h2>{{percentcontrib}}%</h2>
                    </div>
            </div>
        <br/><br/>
        
        <h1>Most Popular Chat Topics : Media</h1>
            <div class = "card" align="center" style="display:inline-block;">
                <div class = "container">
                    <h2 display><b>Book Requests</b></h2>
                    <h2>{{bookcount}}</h2>
                    </div>
            </div>
            <div class = "card" align="center" style="display:inline-block;">
                <div class = "container">
                    <h2 display><b>Magazine Requests</b></h2>
                    <h2>{{magazinecount}}</h2>
                    </div>
            </div>
            <div class = "card" align="center" style="display:inline-block;">
                <div class = "container">
                    <h2 display><b>Movie Requests</b></h2>
                    <h2>{{moviecount}}</h2>
                    </div>
            </div>
            <br/>
            <div class = "card" align="center" style="display:inline-block;">
                <div class = "container">
                    <h2 display><b>Article Requests</b></h2>
                    <h2>{{articlecount}}</h2>
                    </div>
            </div>
            <div class = "card" align="center" style="display:inline-block;">
                <div class = "container">
                    <h2 display><b>Music Requests</b></h2>
                    <h2>{{musiccount}}</h2>
                    </div>
            </div>
            <div class = "card" align="center" style="display:inline-block;">
                <div class = "container">
                    <h2 display><b>Branch Requests</b></h2>
                    <h2>{{librarycount}}</h2>
                    </div>
            </div>
            <br/><br/>

        <h1>Most Popular Chat Topics : Subjects</h1>
        <div class = "card" align="center" style="display:inline-block;">
                <div class = "container">
                    <h2 display><b>Fantasy Requests</b></h2>
                    <h2>{{fantasycount}}</h2>
                    </div>
            </div>
            <div class = "card" align="center" style="display:inline-block;">
                <div class = "container">
                    <h2 display><b>Romance Requests</b></h2>
                    <h2>{{romancecount}}</h2>
                    </div>
            </div>
            <div class = "card" align="center" style="display:inline-block;">
                <div class = "container">
                    <h2 display><b>Science Fiction Requests</b></h2>
                    <h2>{{sfictioncount}}</h2>
                    </div>
            </div>
            <br/>
            <div class = "card" align="center" style="display:inline-block;">
                <div class = "container">
                    <h2 display><b>Technology Requests</b></h2>
                    <h2>{{technologycount}}</h2>
                    </div>
            </div>
            <div class = "card" align="center" style="display:inline-block;">
                <div class = "container">
                    <h2 display><b>History Requests</b></h2>
                    <h2>{{historycount}}</h2>
                    </div>
            </div>
            <div class = "card" align="center" style="display:inline-block;">
                <div class = "container">
                    <h2 display><b>Math Requests</b></h2>
                    <h2>{{mathcount}}</h2>
                    </div>
            </div>
            <br/><br/>

            {%for hour in hours%}
                {{hour}}
            {%endfor%}
           
            
        
    </div>    
    <script src="{{url_for('static', filename='js/respond.js')}}"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>