<!DOCTYPE html>
<html>
  <head>
    <title>Python Websockets Chat Demo</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/custom.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class = "bg-faded">
    <nav class="navbar navbar-inverse navbar-toggleable-sm" id = "mainNav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mainMenuCollapse" aria-controls="myContent" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="index.html" class="navbar-brand">AskUs</a>
            <div class="collapse navbar-collapse" id="mainMenuCollapse">
                <div class="nav-link text-lowercase font-italic" style="color:white;">21st Century Library Chat Service</div>
                <div class="navbar-nav justify-content-end ml-auto">
                    <div>
                    <button class="btn btn-outline-white active" role="button" type="button" href="librarian-login.html" onclick="location.href='\librarian-login.html';">Librarian Login</button>
                    </div>
                </div><!-- navbar-nav -->
            </div><!-- navbar-nav collapse -->
        </nav><!-- nav -->
      <header class="jumbotron jumbotron-fluid bg-faded">
            <div class="container">
                <h1 class="display1">Welcome to AskUs.</h1>
                <p class="lead">We're a service that allows patrons like you to get online help from your librarians. </p> 
                <p> Whether you have a simple question like what your library's hours are to more complicated research questions like the daily lives of peasants in medieval France, we've got you covered. </p>
                <p>You can chat with one of our librarians live at any time!</p>
		            <p style="font-weight: bold"> Type your question in the following text box and hit the AskUs! button to get started:</p>
              <form id="input-form" class="form-inline">
                <div class="form-group">
                  <input id="input-handle" type="text" class="form-control" placeholder="Enter Name" autofocus />
                </div>
                <div class="form-group">
                  <input id="input-text" type="text" class="form-control" placeholder="Enter chat text here!" autofocus />
                </div>
                <button class="btn btn-primary" type="submit">AskUs!</button>
                </form>
                <div class="page-header">
                  <h1>Chat Log</h1>
                </div>
                <div id="chat-text">
                </div>
              </div>
            </header>



    <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>
    <script src="static/js/respond.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
</DOCTYPE>